.flight-card::before {
  content: "";
  position: absolute;
  background-color: red;
  z-index: 10;
  top: 50%;
  left: 100px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border-left: #fff solid 1px;
}
